.App {
    background-image: url("/Users/areeb/College/UTD/Spring 2024/react-project/client/public/beautiful-color-gradients-backgrounds-091-eternal-constance.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    color: white;
}
